{% extends 'saudi_cites/home_page.html' %}
{% load static %}
{% block title %} Tabuk {% endblock %} 
{% block bg %}
background-image: url("{% static 'images/tabuk_bc.jpg' %}");
{% endblock %}
{% block Nav%} <nav class="navbar" style="background-color:  #24562b; ">{% endblock %}
{% block headrGreeting %} Welcome To Tabuk City   {% endblock %}
{% block headrGreeting2 %} Live the Nature {% endblock %}
{% block content %}



    <!-- About Section -->

    <div class="w3-container"  style="background-color: #24562b;" id="info">
      
      <h3 class="w3-center" style="color: aliceblue; font-style:initial;">About Tabuk City</h3>
      <p class="w3-center w3-large" style="color: aliceblue; font-style:initial;">Activites</p>

      <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
          <p class="w3-large" style="color: aliceblue; font-style:initial;">Oasis city of the north
        </p>
          <p style="color: aliceblue; font-style:initial;" >
            A city in an oasis, Tabuk is the capital of the Tabuk Province. It is located in the northwest of the country near the Jordanian border and the Gulf of Aqaba. Tabuk is a rapidly growing industrial center and also houses Saudi Arabia’s largest airforce base. The city has a rich history and various artifacts and relics have been found in the city and its surrounding areas. It used to be a major station of the Hejaz railway that carried pilgrims from Damascus to Medina         </p>
        </div>

        <div class="w3-quarter">
          <p class="w3-large"style="color: aliceblue; font-style:initial;" >Tabuk Castle</p>
          <p style="color: aliceblue; font-style:initial;"> 
            There are spectacular fortresses all around Tabuk, but this imposing castle in the center of town might be the oldest. It’s known to date from 1559, though some claim there was a fortress here as early as 3500 B.C. Inside its walls, two mosques are linked by courtyards, stairwells and watchtowers, and there’s a small museum detailing the history of the castle and the wider city           
        </p>
        </div>

        <div class="w3-quarter">
          <p class="w3-large" style="color: aliceblue; font-style:initial;">Al Disah Valley</p>
          <p style="color: aliceblue; font-style:initial;">
            At the crossroads of three valleys south of Tabuk, the wind-sculpted sandstone columns of Wadi Al Disah (Valley of the Palms) look like a mix between the Grand Canyon and Monument Valley in America.        </p>
        </div>

      </div>
    </div>

{% endblock %}



{% block Caro %}

{% endblock %}